{# Template for the view conectate_con_nosotros #}
<div class="view-novedades">
	{% if rows %}
		{% for row in view.result %}
			<div class="view-content" data-aos="fade-up">
				<img src="{{ file_url(row._entity.field_image.entity.uri.value) }}" alt="{{ row._entity.field_banner.alt }}">
				<div class="txt">
					<h3>{{ row._entity.title.value }}</h3>
					<p>
						{{ row._entity.body.value|striptags|length > 250 ? row._entity.body.value|striptags|slice(0, 250) ~
				'...' : row._entity.body.value|striptags }}
					</p>
					<h4>{{row._entity.field_subtitulo.value}}</h4>
					<a href="{{ path('entity.node.canonical', {'node': row._entity.nid.value}) }}" class="more">Leer más
						<svg width="7" height="13" viewbox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.00051 13L7 6.5L1.0005 -4.29182e-07L-8.8125e-08 1.08321L5.0004 6.5L8.58977e-07 11.9168L1.00051 13Z" fill="currentColor"/>
						</svg>
					</a>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="view-empty">
			{{ empty }}
		</div>
	{% endif %}
</div>
