{# Template for the view conectate_con_nosotros #}
<div class="splide view-entidad container" data-aos="fade-up" role="group" aria-label="La entidad">
	<div class="splide__arrows">
		<button class="splide__arrow splide__arrow--prev">
			<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.00051 10L7 5L1.00051 -4.29182e-07L1.5229e-07 0.833235L5.0004 5L8.80831e-07 9.16677L1.00051 10Z" fill="#35498E"/>
</svg>

		</button>
		<button class="splide__arrow splide__arrow--next">
		<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.00051 10L7 5L1.00051 -4.29182e-07L1.5229e-07 0.833235L5.0004 5L8.80831e-07 9.16677L1.00051 10Z" fill="#35498E"/>
</svg>


		</button>
	</div>
	<div class="splide__track">
		<ul class="splide__list view-content">
			{% for row in view.result %}
				<li class="splide__slide">
					<a href="{{ path('entity.node.canonical', {'node': row._entity.nid.value}) }}" class="view-row">
					<img src="{{ file_url(row._entity.field_banner.entity.uri.value) }}" alt="{{ row._entity.field_banner.alt }}">
					<div class="txt">
						<strong>{{ row._entity.title.value }}</strong>
						<p>{{row._entity.field_subtitulo.value}}</p>
					</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
